<DocMenu>
	<DocStaticMenuItem RouteName="Docs" PageName="Home" />
	<DocPageMenuItem RouteName="introduction" PageName="Introduction" />
	<DocPageMenuItem RouteName="how-to-start" PageName="How To Start">
		<DocPageMenuItem RouteName="dotnet-451" PageName="Create a new project (ASP.NET 4.5.1)" />
		<DocPageMenuItem RouteName="dnx" PageName="Create a new project (.NET Core and DNX)" />
		<DocPageMenuItem RouteName="existing-app" PageName="Add DotVVM to existing app" />
	</DocPageMenuItem>
	<DocPageMenuItem RouteName="basics" PageName="Basics">
		<DocPageMenuItem RouteName="project-structure" PageName="DotVVM Project Contents" />
		<DocPageMenuItem RouteName="first-page" PageName="Creating the First Page" />
		<DocPageMenuItem RouteName="routing" PageName="Routing" />
		<DocPageMenuItem RouteName="master-pages" PageName="Master Pages" />
		<DocPageMenuItem RouteName="binding-syntax" PageName="Binding Syntax" />
		<DocPageMenuItem RouteName="value-binding" PageName="Value Binding" />
		<DocPageMenuItem RouteName="command-binding" PageName="Command Binding" />
		<DocPageMenuItem RouteName="static-command-binding" PageName="Static Command Binding" />
		<DocPageMenuItem RouteName="resource-binding" PageName="Resource Binding" />
		<DocPageMenuItem RouteName="binding-context" PageName="Binding Context" />
		<DocPageMenuItem RouteName="viewmodels" PageName="ViewModels" />
        <DocPageMenuItem RouteName="request-context" PageName="Request Context" />
		<DocPageMenuItem RouteName="viewmodel-protection" PageName="ViewModel Protection" />
		<DocPageMenuItem RouteName="built-in-controls" PageName="Built-in Controls" />
		<DocPageMenuItem RouteName="validation" PageName="Validation" />
		<DocPageMenuItem RouteName="globalization" PageName="Globalization" />
		<DocPageMenuItem RouteName="javascript-and-css" PageName="Javascript and CSS Resource Management" />
		<DocPageMenuItem RouteName="server-side-html-generation" PageName="SEO and server-side HTML generation" />
		<DocPageMenuItem RouteName="single-page-applications-spa" PageName="Single Page Applications (SPA)" />
		<DocPageMenuItem RouteName="postback-handlers" PageName="Postback Handlers" />
	</DocPageMenuItem>
	<DocPageMenuItem RouteName="advanced" PageName="Advanced Topics">
		<DocPageMenuItem RouteName="authentication-authorization" PageName="Authentication and Authorization" />
		<DocPageMenuItem RouteName="owin-security" PageName="Using OWIN Security for Authentication" />
		<DocPageMenuItem RouteName="action-filters" PageName="Action Filters" />
		<DocPageMenuItem RouteName="exception-filters" PageName="Exception Filters" />
		<DocPageMenuItem RouteName="filter-registration" PageName="Filter Registration" />
		<DocPageMenuItem RouteName="ioc-di-container" PageName="IoC/DI Containers" />
		<DocPageMenuItem RouteName="testing-viewmodels" PageName="Testing ViewModels" />
        <DocPageMenuItem RouteName="custom-presenters" PageName="Custom Presenters" />
        <DocPageMenuItem RouteName="route-autodiscovery" PageName="Auto-Discovering Routes" />
        <DocPageMenuItem RouteName="returning-files" PageName="Returning Files from ViewModels" />
	</DocPageMenuItem>
	<DocPageMenuItem RouteName="control-development" PageName="Control Development">
		<DocPageMenuItem RouteName="introduction" PageName="Introduction" />
		<DocPageMenuItem RouteName="markup-controls" PageName="Markup Controls" />
		<DocPageMenuItem RouteName="code-only-controls" PageName="Code-only Controls" />
		<DocPageMenuItem RouteName="interactivity" PageName="Adding Interactivity Using Custom Knockout Binding Handlers" />
		<DocPageMenuItem RouteName="creating-custom-postback-handlers" PageName="Creating Custom Postback Handlers" />
	</DocPageMenuItem>
	<DocControlCategories />
	<DocStaticMenuItem RouteName="DocSamples" PageName="Samples" />
	<DocStaticMenuItem RouteName="DocVideos" PageName="Videos" />
</DocMenu>