<DocMenu>
  <DocStaticMenuItem RouteName="Docs" PageName="Home" />
  <DocPageMenuItem RouteName="introduction" PageName="Introduction" />
  <DocPageMenuItem RouteName="how-to-start" PageName="How To Start">
    <DocPageMenuItem RouteName="dotnet-451" PageName="Create a new project (ASP.NET 4.5.1)" />
    <DocPageMenuItem RouteName="dnx" PageName="Create a new project (ASP.NET Core)" />
    <DocPageMenuItem RouteName="command-line" PageName="Create a new project (Command Line)" />
    <DocPageMenuItem RouteName="existing-app" PageName="Add DotVVM to existing project" />
    <DocPageMenuItem RouteName="existing-app-owin" PageName="Add DotVVM to existing project (OWIN)" />
    <DocPageMenuItem RouteName="existing-app-aspnetcore" PageName="Add DotVVM to existing project (ASP.NET Core)" />
    <DocPageMenuItem RouteName="upgrade-from-1-0" PageName="Upgrading to DotVVM 1.1" />
    <DocPageMenuItem RouteName="upgrade-to-2-0" PageName="Upgrading to DotVVM 2.0" />
  </DocPageMenuItem>
  <DocPageMenuItem RouteName="basics" PageName="Basics">
    <DocPageMenuItem RouteName="project-structure" PageName="DotVVM Project Contents" />
    <DocPageMenuItem RouteName="first-page" PageName="Creating the First Page" />
    <DocPageMenuItem RouteName="routing" PageName="Routing" />
    <DocPageMenuItem RouteName="master-pages" PageName="Master Pages" />
    <DocPageMenuItem RouteName="comments" PageName="Comments" />
    <DocPageMenuItem RouteName="binding-syntax" PageName="Binding Syntax" />
    <DocPageMenuItem RouteName="value-binding" PageName="Value Binding" />
    <DocPageMenuItem RouteName="command-binding" PageName="Command Binding" />
    <DocPageMenuItem RouteName="static-command-binding" PageName="Static Command Binding" />
    <DocPageMenuItem RouteName="resource-binding" PageName="Resource Binding" />
    <DocPageMenuItem RouteName="binding-context" PageName="Binding Context" />
    <DocPageMenuItem RouteName="viewmodels" PageName="ViewModels" />
    <DocPageMenuItem RouteName="binding-direction" PageName="Binding Direction" />
    <DocPageMenuItem RouteName="request-context" PageName="Request Context" />
    <DocPageMenuItem RouteName="viewmodel-protection" PageName="ViewModel Protection" />
    <DocPageMenuItem RouteName="built-in-controls" PageName="Built-in Controls" />
    <DocPageMenuItem RouteName="control-properties-and-attributes" PageName="Control Properties and Attributes" />
    <DocPageMenuItem RouteName="basics-class-and-style-attribute" PageName="Class and Styles Attribute" />
    <DocPageMenuItem RouteName="configuration" PageName="Configuration" />
    <DocPageMenuItem RouteName="validation" PageName="Validation" />
    <DocPageMenuItem RouteName="validator-controls" PageName="Validator Controls" />
    <DocPageMenuItem RouteName="validation-target" PageName="Validation Target" />
    <DocPageMenuItem RouteName="client-side-validation" PageName="Client-Side Validation" />
    <DocPageMenuItem RouteName="globalization" PageName="Globalization" />
    <DocPageMenuItem RouteName="formatting-dates-and-numbers" PageName="Formatting Dates and Numbers" />
    <DocPageMenuItem RouteName="javascript-and-css" PageName="Javascript and CSS Resources" />
    <DocPageMenuItem RouteName="using-resources" PageName="Using Resources" />
    <DocPageMenuItem RouteName="server-side-html-generation" PageName="SEO and server-side HTML generation" />
    <DocPageMenuItem RouteName="single-page-applications-spa" PageName="Single Page Applications (SPA)" />
    <DocPageMenuItem RouteName="postback-handlers" PageName="Postback Handlers" />
    <DocPageMenuItem RouteName="optimizing-postbacks" PageName="Optimizing PostBacks" />
    <DocPageMenuItem RouteName="static-command-services" PageName="Static Command Services" />
    <DocPageMenuItem RouteName="rest-api-bindings" PageName="REST API Bindings" />
    <DocPageMenuItem RouteName="rest-api-bindings-building-own-api" PageName="REST API Bindings: Building own API" />
    <DocPageMenuItem RouteName="postback-concurrency-mode" PageName="PostBack Concurrency Mode" />
    <DocPageMenuItem RouteName="server-side-styles" PageName="Server-side Styles" />
    <!-- <DocPageMenuItem RouteName="dotvvm-contrib-controls" PageName="DotVVM Contrib Controls" /> -->
    <!-- <DocPageMenuItem RouteName="dotvvm-dynamic-data" PageName="DotVVM Dynamic Data" /> -->
  </DocPageMenuItem>
  <DocPageMenuItem RouteName="advanced" PageName="Advanced Topics">
    <DocPageMenuItem RouteName="authentication-authorization" PageName="Authentication and Authorization" />
    <DocPageMenuItem RouteName="owin-security" PageName="OWIN Security Authentication" />
    <DocPageMenuItem RouteName="aspnetcore-authentication" PageName="ASP.NET Core Authentication" />
    <DocPageMenuItem RouteName="action-filters" PageName="Action Filters" />
    <DocPageMenuItem RouteName="exception-filters" PageName="Exception Filters" />
    <DocPageMenuItem RouteName="filter-registration" PageName="Filter Registration" />
    <DocPageMenuItem RouteName="application-insights" PageName="Using Application Insights" />
    <DocPageMenuItem RouteName="electron" PageName="Electron integration" />
    <DocPageMenuItem RouteName="miniprofiler" PageName="Using MiniProfiler" />
    <DocPageMenuItem RouteName="ioc-di-container" PageName="IoC/DI Containers" />
    <DocPageMenuItem RouteName="ioc-di-container-owin" PageName="IoC/DI Containers (OWIN)" />
    <DocPageMenuItem RouteName="ioc-di-container-aspnetcore" PageName="IoC/DI Containers (ASP.NET Core)" />
    <DocPageMenuItem RouteName="bundling-minification" PageName="Bundling and Minification" />
    <DocPageMenuItem RouteName="testing-viewmodels" PageName="Testing ViewModels" />
    <DocPageMenuItem RouteName="custom-presenters" PageName="Custom Presenters" />
    <DocPageMenuItem RouteName="localization-presenter" PageName="Localization Presenter" />
    <DocPageMenuItem RouteName="route-autodiscovery" PageName="Auto-Discovering Routes" />
    <DocPageMenuItem RouteName="returning-files" PageName="Returning Files from ViewModels" />
    <DocPageMenuItem RouteName="using-session-or-http-context-cookies" PageName="Using Session or HttpContext Cookies" />
    <DocPageMenuItem RouteName="dotvvm-command-line" PageName="DotVVM Command Line" />
    <DocPageMenuItem RouteName="javascript-events-and-client-side-viewmodel" PageName="JavaScript Events and Client-side ViewModel" />
    <!-- <DocPageMenuItem RouteName="using-external-javascript-components" PageName="Using external JavaScript components" /> -->
    <!-- <DocPageMenuItem RouteName="server-side-styles" PageName="Server-side Styles" /> -->
  </DocPageMenuItem>
  <DocPageMenuItem RouteName="control-development" PageName="Control Development">
    <DocPageMenuItem RouteName="introduction" PageName="Introduction" />
    <DocPageMenuItem RouteName="markup-only-controls" PageName="Markup-only Controls" />
    <DocPageMenuItem RouteName="markup-control-registration" PageName="Markup Control Registration" />
    <DocPageMenuItem RouteName="markup-controls-with-code" PageName="Markup Controls With Code" />
    <DocPageMenuItem RouteName="code-only-controls" PageName="Code-only Controls" />
    <DocPageMenuItem RouteName="interactivity" PageName="Adding Interactivity Using Custom Knockout Binding Handlers" />
    <DocPageMenuItem RouteName="creating-custom-postback-handlers" PageName="Creating Custom Postback Handlers" />
    <DocPageMenuItem RouteName="binding-extensibility" PageName="Binding System Extensibility" />
  </DocPageMenuItem>
  <DocPageMenuItem RouteName="commercial" PageName="Commercial Products">
    <DocPageMenuItem RouteName="" PageName="DotVVM for Visual Studio">
      <DocPageMenuItem RouteName="dotvvm-private-nuget-feed" PageName="DotVVM Private NuGet Feed" />
      <DocPageMenuItem RouteName="troubleshooting-dotvvm-for-visual-studio" PageName="Troubleshooting DotVVM for Visual Studio" />
      <DocPageMenuItem RouteName="dotvvm-for-visual-studio-release-notes" PageName="Release Notes" />
    </DocPageMenuItem>
    <DocPageMenuItem RouteName="bootstrap" PageName="Bootstrap 3">
      <DocPageMenuItem RouteName="for-dotvvm" PageName="Installing Bootstrap For DotVVM" />
      <DocPageMenuItem RouteName="release-notes" PageName="Release Notes" />
    </DocPageMenuItem>
    <DocPageMenuItem RouteName="bootstrap4" PageName="Bootstrap 4">
      <DocPageMenuItem RouteName="for-dotvvm" PageName="Installing Bootstrap 4 For DotVVM" />
      <DocPageMenuItem RouteName="release-notes" PageName="Release Notes" />
    </DocPageMenuItem>
    <DocPageMenuItem RouteName="business-pack" PageName="BusinessPack">
      <DocPageMenuItem RouteName="install" PageName="Installing DotVVM Business Pack" />
      <DocPageMenuItem RouteName="theme-editor" PageName="DotVVM Business Pack Theme Editor" />
      <DocPageMenuItem RouteName="release-notes" PageName="Release Notes" />
    </DocPageMenuItem>
  </DocPageMenuItem>
  <DocPageMenuItem RouteName="troubleshooting" PageName="Troubleshooting">
    <DocPageMenuItem RouteName="dotvvm-compiler-not-found" PageName="DotVVM Compiler Not Found" />
  </DocPageMenuItem>
  <DocControlCategories />
  <DocStaticMenuItem RouteName="DocSamples" PageName="Samples" />
  <DocStaticMenuItem RouteName="DocVideos" PageName="Videos" />
</DocMenu>
